<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Colima 2050</title>
	<% include partials/styles%>

</head>
<body ng-app="Colima2050">
	<%include partials/navbar%>

	<div class="container">
		<div ui-view></div>
	</div>
	
<%include partials/scripts%>
	
	<script src="/public/app/js/app.js"></script>
	<script src="/public/app/js/controller.js"></script>

</body>
</html>