<!-- Carrusel de presentación -->
<section class="row">
	
</section>

<!-- Cómo funciona -->
<section class="row">
	<div class="col-md-6">
		<h2>¿Cómo funciona?</h2>
		<p>
			1.- Registra tu participación: Proporciona tanta información como puedas (ubicación, fecha, fotos, videos y cualquier otra fuente de confianza).

			2.- Selecciona la categoría: Esto permitirá la atención, monitoreo y seguimiento puntual a tu participación.

			3.- Clasifica tu participación: recuerda que puedes agregar lo que sueñas para Colima en el futuro; también propuestas específicas que te gustaría aportar para tu municipio o estado; además, puedes agregarte a nuestro grupo y participar activamente en espacios de tu interés.

			4.- Envía: una vez reunida la información envía tu mensaje a través de nuestros medios de recepción disponibles: Web, Facebook, Twitter, Email.

			Uno de nuestros colaboradores te contactará en caso de requerir mayor información sobre tu participación.
		</p>
	</div>
	<div class="col-md-6">
		<!-- <img src="/public/img/portada.png" alt=""> -->
	</div>
	<div class="col-md-12 text-center">
		<button class="btn btn-lg btn-success" ui-sref="nueva-propuesta">Nueva Propuesta</button>
		<button class="btn btn-lg btn-danger" ui-sref="nueva-pregunta">Preguntar Ahora</button>
	</div>
</section>

<!-- Resumen General -->
<section class="row">
	<h2>Resumen General</h2>
	<!-- Contadores Generales -->
	<div class="row text-center" id="contadores">
		<div class="col-md-12">
			
			<div class="col-sm-3 col-xs-6">
				<span class="contador" ng-bind="recuento.total"></span>
				<p>
					<small>
						<strong>PARTICIPACIONES RECIBIDAS</strong>
					</small>
				</p>
			</div>
			<div class="col-sm-3 col-xs-6">
				<span class="contador" ng-bind="recuento.sueno"></span>
				<p>
					<small>
						<strong>YO SUEÑO</strong>
					</small>
				</p>
			</div>
			<div class="col-sm-3 col-xs-6">
				<span class="contador" ng-bind="recuento.propongo"></span>
				<p>
					<small>
						<strong>YO PROPONGO</strong>
					</small>
				</p>
			</div>
			<div class="col-sm-3 col-xs-6">
				<span class="contador" ng-bind="recuento.participo"></span>
				<p>
					<small>
						<strong>YO PARTICIPO</strong>
					</small>
				</p>
			</div>
		</div>
	</div>
	
	<!-- Gráficas -->
	<div class="row text-center" id="graficas">
		<div class="col-md-12">
			
			<div class="col-md-4">
				<canvas id="graficaSueno"></canvas>
				<h4><strong>YO SUEÑO</strong></h4>
			</div>
			<div class="col-md-4">
				<canvas id="graficaPropongo"></canvas>
				<h4><strong>YO PROPONGO</strong></h4>
			</div>
			<div class="col-md-4">
				<canvas id="graficaParticipo"></canvas>
				<h4><strong>YO PARTICIPO</strong></h4>
			</div>
		</div>
		
	</div>
</section>

<!-- Últimas Participaciones -->
<section class="row">
	
	<!-- como tabla -->
	<div class="col-md-12 hidden-xs hidden-sm">
		<table class="table table-hover table-striped">
			<tr>
				<th>
					<span class="glyphicon glyphicon-calendar"></span>
					<span>FECHA Y HORA</span>
				</th>
				<th>
					
				</th>
			</tr>
			
		</table>
	</div>

	<!-- como list-group -->
	<div class="col-md-12 hidden-lg hidden-md">
		
	</div>
</section>