body{
	padding-top:70px;
}

#map_canvas .angular-google-map-container{ 
	min-width:320px;
	height:320px; 
}

/*Helpers*/
.sueno{
	height:96px;
	width:96px;
	background: url('../img/yo-sueno.png') no-repeat;
	background-size: contain;
}
.propongo{
	height:96px;
	width:96px;
	background: url('../img/yo-propongo.png') no-repeat;
	background-size: contain;
}
.participo{
	height:96px;
	width:96px;
	background: url('../img/yo-participo.png') no-repeat;
	background-size: contain;
}

.centered{
	margin:0 auto;
}
.como-funciona{
	font-size:1.3em;
}
.como-funciona strong{
	color:#8BC34A;
}
.light-green-text{
	color:#8BC34A;
}
.red-text{
	color:#F44336;
}
.grey-text{
	color:#9E9E9E;
}
.inline{
	display:inline-block;
}
.opacar{
	opacity: 0.42;
}
.vertical-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.hidden{
	display:none;
}

#contadores, #graficas{
	margin-bottom: 2em;
}
.contador{
	font-weight: bold;
	font-size: 3em;
}

.logo-sm{
	width:32px;
	height:32px;
	
}

.descripcion{
	width:480px;
}

.img-como-funciona{
	margin-top:6em;
}
.bold{
	font-weight: bold;
}

@media(max-width: 768px){
	.img-como-funciona{
		margin:0;
	}
}